.menu-item {
  padding: 1rem;
  cursor: pointer;
  transition: 300ms background;
}

.menu-item:hover {
  background-color: var(--gray-200);
}

.menu-item.dark:hover {
  background-color: var(--gray-700);
}

.menu-item.dark:hover i {
  color: var(--gray-500);
}

.menu-item-rounded:first-child {
  border-top-left-radius: var(--rounded-md);
  border-top-right-radius: var(--rounded-md);
}

.menu-item-rounded:last-child {
  border-bottom-left-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);
}

.menu-item-icon {
  margin-right: 1rem;
  color: var(--gray-600);
  transition: 300ms;
}

.menu-item-dark > .menu-item-icon {
  color: var(--gray-500);
}
