.todo-card {
  background-color: var(--default-background-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-sm);
  transition: 300ms all;
  justify-content: space-between;
}

.todo-card-dark {
  background-color: var(--gray-900);
}

.todo-card:hover {
  cursor: pointer;
  box-shadow: var(--shadow-lg);
}

.todo-card-done {
  background-color: var(--gray-300);
}

.left-container {
  display: flex;
  align-items: center;
}

.checkmark {
  color: var(--success-color);
}

.checkbox {
  border: 1px solid var(--gray-400);
  width: 2rem;
  height: 2rem;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background;
  flex-shrink: 0;
}

.checkbox:hover {
  background-color: var(--gray-200);
}

.checkbox-done:hover {
  background-color: var(--gray-200);
}

.label {
  margin-left: 1rem;
}

.label-done {
  color: var(--gray-600);
  text-decoration-line: line-through;
}

.delete-button {
  color: var(--error-color);
}
