.todo-card {
  background-color: var(--default-background-color);
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-sm);
  transition: 300ms all;
  justify-content: space-between;
  animation-name: enter;
  animation-duration: 300ms;
  cursor: pointer;
}

@keyframes enter {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.todo-card.dark {
  background-color: var(--gray-700);
}

.todo-card.dark i {
  color: var(--gray-400);
}

.hover:hover {
  box-shadow: var(--shadow-lg);
}

.todo-card-done {
  background-color: var(--gray-300);
}

.todo-card-done.dark {
  background-color: var(--gray-900);
}

.todo-item-tag {
  padding: 0.2rem 0.75rem;
  font-size: 0.8rem;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  margin-left: 1rem;
}

.left-container {
  display: flex;
  align-items: center;
}

.checkmark {
  color: var(--success-color);
}

.checkbox {
  border: 1px solid var(--gray-400);
  width: 2rem;
  height: 2rem;
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms background;
  flex-shrink: 0;
}

.checkbox:hover {
  background-color: var(--gray-200);
}

.checkbox-done:hover {
  background-color: var(--gray-200);
}

.todo-card-dark .checkbox:hover {
  background-color: var(--gray-800);
}

.label {
  margin-left: 1rem;
}

.label-done {
  color: var(--gray-600);
  text-decoration-line: line-through;
}

.delete-button {
  color: var(--error-color);
}

.title-and-tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
