.todo-edit-panel {
  padding: 1rem;
  position: absolute;
  transform: translateX(0%);
  background-color: white;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: var(--shadow-lg);
  animation-duration: 300ms;
  animation-name: slidein;
  overflow-x: hidden;
  overflow-y: auto;
  left: calc(100vw - 20rem);
}

.todo-edit-panel.dark {
  background-color: var(--dark-mode-background-color);
}

.todo-edit-panel-closing {
  animation-duration: 300ms;
  animation-name: slideout;
}

.inputs-container > :not(:first-child) {
  margin-top: 1rem;
}

@keyframes slidein {
  from {
    overflow: hidden;
    transform: translate(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideout {
  from {
    overflow: hidden;
    transform: translateX(0%);
  }

  to {
    transform: translate(100%);
  }
}

.close-button-container {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.resizer {
  width: 1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: -0.5rem;
  cursor: w-resize;
}

.textarea {
  resize: vertical;
}
