.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.menu {
  position: absolute;
  background-color: white;
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-lg);
}

.menu.dark > * {
  background-color: var(--gray-800);
}
