.fab {
  border-radius: 9999px;
  background-color: var(--primary-color);
  width: 3rem;
  height: 3rem;
  color: white;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  box-shadow: var(--shadow-md);
  transition: 300ms background;
  outline: none;
  border: none;
  cursor: pointer;
}

.fab:hover {
  background-color: var(--primary-color-dark);
}
