.todo-list {
  background-color: var(--gray-500);
  flex-grow: 1;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}

.todo-list.dark {
  background-color: var(--gray-800);
}

.lists > :not(:first-child) {
  margin-top: 2rem;
}

.incomplete-list > :not(:first-child) {
  margin-top: 1rem;
}

.complete-list > :not(:first-child) {
  margin-top: 1rem;
}

.list-heading {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3rem;
  color: var(--gray-800);
}
