.todo-list {
  background-color: var(--gray-500);
  width: 100%;
  height: 100%;
  padding: 2rem;
  position: relative;
  overflow-y: auto;
}

.lists > :not(:first-child) {
  margin-top: 2rem;
}

.incomplete-list > :not(:first-child) {
  margin-top: 1rem;
}

.complete-list > :not(:first-child) {
  margin-top: 1rem;
}

.list-heading {
  font-size: 1.25rem;
}
