.root {
  display: flex;
  align-items: center;
  width: fit-content;
}

.root:not(.root-reverse) > *:not(:first-child) {
  margin-left: 0.5rem;
}

.root-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.root-reverse > *:first-child {
  margin-left: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  border-radius: 9999px;
  cursor: pointer;
}

.input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 0;
  width: 0;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-400);
  border-radius: var(--rounded-full);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 150ms all;
}

.toggle-checked {
  background-color: var(--primary-color-light);
}

.toggle:before {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  box-shadow: var(--shadow-md);
  border-radius: var(--rounded-full);
  transform: translateX(0);
  transition: 150ms all;
  content: '';
}

.toggle-checked:before {
  transform: translateX(1rem);
  background-color: var(--primary-color-dark);
}
