:root {
  --blue-1: #e2eafc;
  --blue-2: #3f6fe0;
  --blue-3: #3156ad;

  --pink-1: #feeaf2;
  --pink-2: #db256e;
  --pink-3: #ab2e60;

  --success-color: #66ad47;
  --error-color: #bf3325;
  --error-color-dark: #a3392f;
  --warning-color: #f4be2c;

  --neu-background-gray: #e7e7e7;

  --gray-1: #f9f9f9;
  --gray-2: #f2f2f2;
  --gray-3: #ebebeb;
  --gray-4: #b1b1b1;
  --gray-5: #8c8c8c;

  --border-gray: #e3e3e3;
}
