.input {
  padding: 1.25rem;
  border: 1px solid var(--gray-400);
  border-radius: var(--rounded-md);
  box-sizing: border-box;
}

.input.dark {
  border-color: var(--gray-900);
  background-color: var(--gray-800);
}

.full-width {
  width: 100%;
}

.input-focused {
  border-color: var(--primary-color);
}

.label {
  position: absolute;
  margin: 1.25rem;
  transition: 150ms all;
  color: var(--gray-500);
}

.label-small {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--gray-400);
}

.multi-select-input {
  min-height: 3.812rem;
  display: flex;
  flex-wrap: wrap;
  cursor: text;
}

.multi-select-value {
  flex-shrink: 0;
  padding: 0.5rem;
  border-radius: var(--rounded-md);
  background-color: var(--gray-300);
  margin: 0.25rem;
}

.multi-select-value.dark {
  background-color: var(--gray-700);
}

.multi-select-selected {
  background-color: var(--primary-color);
  color: white;
}

.multi-select-selected:hover {
  color: black;
}

.multi-select-selected.dark:hover {
  color: white;
}
