.date-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.date-header-current-day-container {
  text-align: center;
}

.date-header-current-day {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--primary-color-dark);
}

.date-header-current-day.dark {
  color: var(--primary-color-light);
}

.date-header-current-date {
  margin-top: 0.5rem;
  font-weight: lighter;
}

.date-header-date-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.date-header-date-button.dark {
  color: white;
}

.date-header-date-button > i:first-child {
  margin-right: 0.5rem;
}

.date-header-date-button > i:last-child {
  margin-left: 0.5rem;
}
