.home__hero {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.home__heading {
  padding: 1rem;
  font-weight: 300;
  font-size: 4rem;
  color: #575757;
  margin: 0;
  margin-bottom: 1.5rem;
}

.home__subheading {
  padding: 1rem;
  font-weight: 300;
  font-size: 1rem;
  color: #575757;
  margin: 0;
}

.home__get-noting-label {
  color: var(--pink-2);
}

.home__get-tasking-label {
  color: var(--blue-2);
}

.home__apps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
}

.home__app {
  max-width: 25rem;
}

.home__get-tasking-app {
  grid-column: 3 / span 3;
}

.home__get-noting-app {
  grid-column: 8 / span 3;
}

.home__app-label {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 575px) {
  .home__hero {
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .home__heading {
    font-size: 2.5rem;
  }
}
