.main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app-panel {
  width: 18rem;
  border-right: 1px solid var(--gray-300);
}

.app-panel-dark {
  border-right: 1px solid var(--gray-800);
}
