.add-item-container {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  max-width: 80%;
}

.switch-container {
  margin-bottom: 1rem;
  width: fit-content;
  padding: 1rem;
  border-radius: var(--rounded-md);
  background-color: white;
  box-shadow: var(--shadow-md);
}

.switch-container.dark {
  background-color: var(--gray-800);
}

.text-field-container {
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

.text-field-container-leave {
  box-shadow: none;
}

.text-field-input {
  animation-duration: 300ms;
  animation-name: input-enter;
  overflow: hidden;
  width: 40rem;
  box-sizing: unset;
}

.text-field-input-leave {
  animation-duration: 0.2s;
  animation-name: input-leave;
  background-color: white;
}

@keyframes input-enter {
  from {
    width: 10rem;
    height: 0rem;
  }

  to {
    width: 40rem;
    height: 1rem;
  }
}

@keyframes input-leave {
  0% {
    background-color: white;
    border-radius: var(--rounded-md);
    width: 40rem;
    height: 1rem;
  }

  60% {
    background-color: white;
    border-radius: var(--rounded-md);
  }

  100% {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: var(--rounded-full);
    width: 3rem;
    height: 0.1rem;
  }
}

.overlay {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.3;
  animation-duration: 0.3s;
  animation-name: fadein;
}

.overlay-leave {
  animation-duration: 0.2s;
  animation-name: fadeout;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3s;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.3s;
  }

  to {
    opacity: 0;
  }
}
