.container {
  position: relative;
}

.input {
  border: 1px solid var(--gray-400);
  border-radius: var(--rounded-md);
  padding: 1.25rem;
  outline: none;
  transition: 150ms all;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

.input-focused {
  border-color: var(--primary-color);
}

.label {
  position: absolute;
  margin: 1.25rem;
  transition: 150ms all;
  color: var(--gray-500);
}

.label-small {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--gray-400);
}

.label-focused {
  color: var(--primary-color);
}
