.button {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  color: var(--gray-600);
  border-radius: 9999px;
  transition: 300ms background;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--gray-300);
}

.button-dark:hover {
  background-color: var(--gray-800);
}
