.skeleton {
  margin-top: 1rem;
}

.skeleton > *:not(:last-child) {
  margin-bottom: 2rem;
}

.settings {
  background-color: var(--default-background-color);
  flex-grow: 1;
  padding: 1rem;
}

.settings-heading {
  margin: 0;
  font-weight: normal;
}

.settings-theme-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.settings-theme-container > span {
  margin-right: 0.5rem;
}
