.tag-table {
  border: 1px solid var(--gray-300);
  border-radius: var(--rounded-md);
}

.dark {
  border-color: var(--gray-800);
}

.tag-table-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.tag-table-row > div:not(:last-child) {
  border-right: 1px solid var(--gray-300);
}

.tag-table-row.dark > div:not(:last-child) {
  border-right: 1px solid var(--gray-800);
}

.tag-table-row:not(:last-child) {
  border-bottom: 1px solid var(--gray-300);
}

.tag-table-row:not(:last-child).dark {
  border-bottom: 1px solid var(--gray-800);
}

.tag-table-row:first-child > div:first-child > input {
  border-top-left-radius: var(--rounded-md);
}

.tag-table-row:first-child > div:last-child > input {
  border-top-right-radius: var(--rounded-md);
}

.tag-table-input {
  background-color: var(--default-background-color);
  color: var(--default-text-color);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.tag-table-input-error {
  border: 1px solid var(--error-color);
}

.tag-color {
  display: flex;
  align-items: center;
}

.tag-color-sample {
  flex-shrink: 0;
  border-radius: var(--rounded-full);
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.5rem;
}

.tag-table-add-row {
  background-color: var(--gray-100);
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom-left-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);
  width: 100%;
  border: none;
}

.tag-table-add-row:hover {
  background-color: var(--gray-200);
}

.tag-table-add-row.dark:hover {
  background-color: var(--gray-800);
  color: var(--gray-600);
}

.tag-table-add-row:first-child {
  border-top-left-radius: var(--rounded-md);
  border-top-right-radius: var(--rounded-md);
}

.tag-table-add-row.dark {
  background-color: var(--gray-900);
}

.tag-table-add-row > i {
  margin-left: 0.2rem;
  font-size: 0.5rem;
}

.delete-icon > * {
  font-size: 1rem;
}

.delete-icon > *:hover {
  color: var(--error-color);
}
